.challange {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.3rem;
}

.display {
    padding: 1rem;
    margin: 0 auto;
    /* border: 3px solid var(--dark); */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
    opacity: 1;
    animation: appear .3s ease-in;
}
  

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.screenshot-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.result-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    text-align: center;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: slide .6s ease-in;
  }
  
@keyframes slide {
    from {
        opacity: 0;
        top:0%;
    }
    to {
        opacity: 1;
        top:50%;
    }
}

.challenge-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.challenge-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    cursor: default;
    z-index: 1000;
}

.help {
    border-radius: 50%;
    border: 2px solid var(--gray);
    background-color: var(--gray);
    color: var(--dark);
    font-weight: 700;
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
}

.help:hover {
    cursor: pointer;
    border-color: var(--gold);
    color: var(--gold);
}

.letter {
    background-color: var(--light-gold);
    border: none;
    color: hsl(0, 0%, 25%);
    font-weight: 600;
    font-size: 1.3rem;
    padding: .3rem .5rem;
    margin: .1rem;
    transition: all .2s;
    text-align: center;
}

.letter:hover {
    background-color: var(--gold);
    color: var(--gray);
    cursor: pointer;
    transform: scale(1.1);
}

.board {
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

.display-row {
    width: 80%;
    display: flex;
    justify-content: center;
}

.display-letter {
    height: 2.5rem;
    width: 2.5rem;
    margin: .2rem;
    border: 2px solid var(--gray);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
}

.result-display-letter {
    height: 2rem;
    width: 2.7rem;
    margin: .4rem;
    border: 2px solid var(--gray);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: var(--white);
}

.typed {
    border: 2px solid var(--dark);
    background-color: var(--dark);
    animation: typing .2s ease-in-out;
}

@keyframes typing {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.errors {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff5044;
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-out, slideUp 0.3s ease-in 2s forwards;
    z-index: 1000;
}

.errors-hidden {
    display: none;
}

@keyframes slideDown {
    from {
        top: -2rem;
        opacity: 0;
    }

    to {
        top: 2rem;
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        top: 2rem;
        opacity: 1;
    }

    to {
        top: -2rem;
        opacity: 0;
    }
}

.place {
    background-color: #6aaa64;
    border-color: #6aaa64;
}

.exists {
    background-color: #c9b458;
    border-color: #c9b458;
}

.popup-window {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    z-index: 10;
    width: 15rem;
    font-size: 1rem;
  }

.challenge-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}