html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: "Segoe UI", sans-serif;
    color: var(--dark);
    box-sizing: border-box;
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--light-white);
}

.panel-top-bar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    background-color: var(--light-white);
}

.user-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.username {
    font-size: 1.8rem;
    font-weight: 600;
}

.logout {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    background: var(--gray);
    border: 1px solid var(--gray);
    padding: 0.4rem 0.8rem;
    transition: all .2s;
}

.logout:hover {
    cursor: pointer;
    background: var(--light-white);
    color: var(--gold);
    border: 1px solid var(--gold);
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 90%;
    width: 100%;
    box-sizing: border-box;
}

.contacts-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-right: 1px solid var(--gray);
    color: var(--dark);
}

.chat-panel {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-color: var(--gray);
}

.chat-messages {
    width: 95%;
    margin: 0 auto;
    padding: 0 0 5rem 0;
    height: 100%;
    border-radius: 1rem;
    overflow-y: auto;
}

.white-gradient {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--white) 0%, var(--white) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.chat-controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.message-textarea {
    width: 80%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: var(--gray);
    color: var(--dark);
    border: none;
}

.send-btn {
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--gold);
    background: var(--gold);
    color: var(--white);
    transition: all 0.2s;
    /* box-shadow: 0 0 8px var(--gold); */
}

.send-btn:hover {
    cursor: pointer;
    background: var(--white);
    color: var(--gold);
    border: 1px solid var(--gold);
}

.avatar {
    width: 2rem;
    border-radius: 50%;
}

.card {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--gray);
    transition: all .2s;
}

.card:hover {
    cursor: pointer;
    background-color: var(--light-gold);
}

.active {
    background-color: var(--light-gold);
}

.message {
    padding: .3rem 1rem;
    color: var(--white);
    margin: 0.8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    width: fit-content;
}

.received {
    background-color: var(--gold);
}

.sent {
    background-color: var(--dark);
    text-align: right;
    margin-left: auto;
}

.message-content {
    font-size: 1rem;
}

.message-time {
    font-size: 0.7rem;
    color: var(--white);
}

.room-name {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--light-white);
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.find-users-background {
    position: absolute;
    background-color: hsla(0, 0%, 20%, 0.5);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:3;
    display: flex;
}

.find-users-panel {
    position: relative;
    margin: auto;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark);
    width: 50%;
}

.user-card {
    padding:  .5rem;
    border: .6px solid var(--dark);
    background-color: var(--gray);
    color: var(--dark);
    display: flex;
    gap: .5rem;
}

.user-card:hover {
    background-color: var(--light-gold);
    cursor: pointer;
}

.notifications {
    background-color: rgb(0, 197, 0);
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    color: var(--light-white);
    border-radius: 1rem;
    transform: scale(1);
    animation: newNotifications .2s ease-in nullNotifications .2s ease-out;
}

@keyframes newNotifications {
    from {
        transform: scale(.3);
    }
    to {
        transform: scale(1);
    }
}

@keyframes nullNoifications {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(.3);

    }
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .contacts-panel {
        flex: 1 1 40%;
    }

    .chat-panel {
        flex: 1 1 60%;
    }

    .chat-messages {
        padding: 0 1rem 4rem 1rem;
    }

    .message-textarea {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .panel-top-bar {
        height: 3rem;
    }

    .logout {
        font-size: 0.8rem;
    }

    .contacts-panel, .chat-panel {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .message-textarea {
        width: 90%;
    }

    .send-btn {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .message {
        max-width: 20rem;
    }

    .message-textarea {
        width: 90%;
    }
}