:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #202020;
  scrollbar-width:thin;
  
  --gold: hsl(50, 80%, 50%);
  --light-gold: hsl(0, 0%, 89%);
  --white: hsl(0, 0%, 100%);
  --light-white: hsl(0,0%,100%);
  --dark: hsl(0, 0%, 50%);
  --gray: hsl(0, 0%, 95%);

}

.page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

}

.header {
  background-color: hsl(0, 0%,99%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .3rem 3rem;
  align-items: center;
  border-bottom: .5px solid hsl(0, 0%, 80%);
}

.header-logo{
  display: flex;
  align-items: center;
}

.smalllogo {
  position: relative;
  border-radius: 50%;
  height: 3rem;
  margin: 0 0.5rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: #202020;
  color: white;
  margin: 5rem 0 0 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem 0;
  justify-content: space-between;
}

.footer-content {
  flex:1;
  width:95%;
  margin: auto;
  max-width: 150rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
}

.footer-images {
  width: 2rem;
}
